# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* List Of Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. Numpy
1. Matplotlib

|Data Science Tools|
|----|
|Jupyter Lab|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Yokitha.R